<!DOCTYPE html>
<html>
    <head>
        <title>My petition</title>
        <link rel="stylesheet" href="/stylesheet.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
        <!-- <link rel="icon" href="/your_path_to_image/favicon.jpg"> -->

    </head>
    <body>

        {{{ body }}}


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/index.js"></script>
    </body>
</html>
