<!DOCTYPE html>
<html>
    <head>
        <title>My petition</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        {{{ body }}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/index.js"></script>
    </body>
</html>
