<h1> Sign our Petition </h1>
<img id="image" src="./coming-soon.jpg"></img>
{{#if error}}
    <p>You dun goofed up son</p>
{{/if}}

<div id="inputfields">
    <form method="post">
        <input type="text" name ="firstname"id="firstname" placeholder="First Name" />
        <input type="text" name="lastname" id="lastName" placeholder="Last Name" />
        <input type="hidden" name="hiddensig" id="sig" / >
        <canvas id="canvas" width="300" height="50"></canvas>
        <input class="submit" type="submit" value="submit">
    </form>
</div>







<!-- {{#if published}}
    {{content}}
{{/if}}

<ul>
{{#each people}}
    <li>{{this.firstName}} {{this.lastName}}</li>
{{/each}}
</ul> -->
