{{#if error}}
    <p>You dun goofed up son</p>
{{/if}}


<form id="formlogin" method="post">
    <div id="emailloginlabel">
        <label for"email">email:</label>
        <input type="text" name="email" class="emailregoinputfield">
    </div>

    <div id="passwordloginlabel">
        <label for"email">password:</label>
        <input type="text" name="password" class="password">
    </div>


        <div class="button">
            <button type="submit">Log in >>></button>
        </div>
        <input type="hidden" name="_csrf" value="{{Token}}">
    </form>
    <div class="button" >
        <button id="login" type='button'><a href='/register' id="logintext">Forgot to Register? Click here..</a></button>
    </div>
