{{#if error}}
    <p>You dun goofed up son</p>
{{/if}}


<form id="formlogin" method="post">
    <div id="emailloginlabel">
        <label for"email">email:</label>
        <input type="text" name="email" class="emailregoinputfield">
    </div>

    <div id="passwordloginlabel">
        <label for"email">password:</label>
        <input type="password" name="password" class="smallinputbuffer">
    </div>

    {{#if wrongpassword}}
        <div class="errormessage">
            <p>Wrong password</p>
        </div>
    {{/if}}
    {{#if wrongdetails}}
        <div class="errormessage">
            <p>Email does not match</p>
        </div>
    {{/if}}

        <div class="button">
            <button type="submit">Log in >>></button>
        </div>
        <input type="hidden" name="_csrf" value="{{Token}}">
    </form>
    <div class="button" >
        <a href='/register' id="logintext"><button id="login" type='button'>Forgot to Register? Click here..</button></a>
    </div>
