

{{#if error}}
    <p>You dun goofed up son</p>
{{/if}}


<form id="formsign" method="post">

    <div id="signherelabel">
        <label for="city">sign here:</label>
    </div>

    <canvas id="canvas" width="420" height="280"></canvas>

    <div class="button">
        <button id="signsubmit" type="submit">Submit</button>
    </div>
    <input type="hidden" name="hiddensig" id="sig" / >

    <input type="hidden" name="_csrf" value="{{Token}}">
</form>


<div class="button" >
    <button id="signout" type='button'><a href='/signout' id="signouttext">Sign out</a></button>
</div>
