

<h1> Please Log In </h1>
<img id="image" src="/coming-soon.jpg"></img>
{{#if error}}
    <p>You dun goofed up son</p>
{{/if}}

<div id="inputfields">
    <form method="post">
        <input type="hidden" name="hiddensig" id="sig" / >
        <canvas id="canvas" width="300" height="50"></canvas>

        <input type="hidden" name="hiddensig" id="sig" / >
        <input class="submit" type="submit" value="submit">
    </form>
</div>
<a href='/profile/edit'>Click here to edit your profile</a>
