{{#if error}}
    <p>You dun goofed up son</p>
{{/if}}


<form id="formprofile" method="post">

    <div id="ageprofilelabel">
        <label for"age">age:</label>
        <input type="text" name="age" placeholder="optional"  class="smallwordinputfield">
    </div>

    <div id="cityprofilelabel">
        <label for="city">city:</label>
        <input type="text" name="city" placeholder="optional"  class="smallwordinputfield">
    </div>

    <div id="homepageprofilelabel">
        <label for"homepage">homepage:</label>
        <input type="text" placeholder="optional" name="homepage">
    </div>


    <div class="button">
        <button type="submit">Update Profile</button>
    </div>
    <input type="hidden" name="_csrf" value="{{Token}}">
</form>


<div class="button" >
    <button id="signout" type='button'><a href='/signout' id="signouttext">Signout</a></button>
</div>
