
{{#if error}}
    <p>You dun goofed up son</p>
{{/if}}

<form method="post">

    <div id ="firstregolabel">
        <label for="firstname">first name:</label>
        <input type="text" name="firstname" class="firstname" />
    </div>

    <div id="lastregolabel">
        <label for="name">last name:</label>
        <input type="text" name ="lastname" class="lastname" placeholder=""/>
    </div>

    <div id="emailregolabel">
        <label for="mail">email:</label>
        <input type="text" name="email" class="emailregoinputfield" placeholder=""/>
    </div>

    <div id="regopassword">
        <label for="password">password:</label>

        <input type="text" name="password" class="password" placeholder=""/>
    </div>

    <div id="message">
        <label for="msg">Petition to ban Winter<br>in Berlin</label>
        <textarea id="msg" name="user_message"></textarea>
    </div>


    <div class="button">
        <button type="submit">Register >>></button>
    </div>
    <input type="hidden" name="_csrf" value="{{Token}}">
</form>
<div class="button" >
    <button id="login" type='button'><a href='/login' id="logintext">Already Registered? Click Here to log in..</a></button>
</div>









<!--
        <input type="hidden" name="hiddensig" id="sig" / >
     -->
