


<form method="post">

    <div id ="firstregolabel">
        <label for="firstname">first name:</label>
        <input type="text" name="firstname" class="firstname" />
    </div>

    <div id="lastregolabel">
        <label for="name">last name:</label>
        <input type="text" name ="lastname" class="smallinputbuffer" placeholder=""/>
    </div>

    <div id="emailregolabel">
        <label for="mail">email:</label>
        <input type="text" name="email" class="emailregoinputfield" placeholder=""/>
    </div>

    <div id="regopassword">
        <label for="password">password:</label>

        <input type="password" name="password" class="smallinputbuffer" placeholder=""/>
    </div>

    <div id="message">
        <label id="petitiontitle" for="msg">Petition to ban Winter in Berlin</label>
        <textarea id="msg" name="message" placeholder="Write your message here..."></textarea>
    </div>

    {{#if error}}
        <div class="errormessage">
            <p>Please fill all fields. A message is optional.</p>
        </div>
    {{/if}}


    <div class="button">
        <button type="submit">Register >>></button>
    </div>
    <input type="hidden" name="_csrf" value="{{Token}}">
</form>
<div class="button" >
    <a href='/login' id="logintext"><button id="login" type='button'>Already Registered? Click Here to log in..</button></a>
</div>









<!--
        <input type="hidden" name="hiddensig" id="sig" / >
     -->
