<h1> Sign our Petition </h1>
<img id="image" src="./coming-soon.jpg"></img>
{{#if error}}
    <p>You dun goofed up son</p>
{{/if}}

<div id="inputfields">
    <form method="post">
        <input type="text" name ="firstname"id="firstname" placeholder="First Name" value =""/>
        <input type="text" name="lastname" id="lastName" placeholder="Last Name" value="" />
        <input type="text" name ="email"id="email" placeholder="Email Address" value="" />
        <input type="password" name="password" placeholder="password" value=""/>

        <input type="hidden" name="hiddensig" id="sig" / >
        <input class="submit" type="submit" value="submit">
    </form>
</div>
<p><a href='/login' >Click Here to log in</a></p>
