<img id="image" src="./coming-soon.jpg"></img>
<div class="signatures">

    {{#signatures}}
        <ul class="signees">
            <li>{{ first }} {{ last }}</li>
        </ul>
    {{/signatures}}
</div>
