<img id="image" src="./coming-soon.jpg"></img>
<div class="signatures">

    {{#signatures}}
        <ul class="signees">
            <li>{{ first }} {{ last }}</li>
        </ul>
    {{/signatures}}
</div>

<p><a href='/thanks' >Go back</a></p>
<p><a href='/signout' >If you wish to sign out</a></p>
