<h1> Thankyou for signing the petition! </h1>
<img id="image" src="./coming-soon.jpg"></img>
<img src =" {{ signature }}" id="yoursignature" alt"your signature">

<p><a href='/signatures' >Here</a> is list of people who have signed the petition</p>
