/*
https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Styling_HTML_forms
 */

/* Define fonts */
body {
    font  : 21px sans-serif;

    padding : 2em;
    margin  : 0;
    background-image: url("/images/wintertrees.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font  : 21px sans-serif;

    padding : 2em;
    margin  : 0;
}

@font-face {
    font-family: 'handwriting';
    src: url('/fonts/journal-webfont.woff2') format('woff2'),
         url('/fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typewriter';
    src: url('/fonts/veteran_typewriter-webfont.woff2') format('woff2'),
         url('/fonts/veteran_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



form {
    top: 50px;
    border: solid black 4px;
    border-radius: 5px;
    position: relative;

      width  : 740px;
      height : 498px;
      margin : 0 auto;

      background: url('/images/postcardregister.png');
}

#formlogin {
    background: url('/images/postcardlogin.png');
}

#formprofile {
    background: url('/images/postcardprofile.png');

}

#formsign {
    background: url('/images/postcardsign.png')
}
#formprofileedit {
    background: none;
    border: none;

}





/* Position elements */



#firstregolabel {
  position : absolute;
  left : 380px;
  top  : 185px;

  font : 1em "typewriter", sans-serif;
}

#lastregolabel {
  position: absolute;
  left : 380px;
  top  : 235px;
}

#emailregolabel {
  position: absolute;
  left : 380px;
  top  : 285px;
}
#regopassword {
    position: absolute;
    left : 380px;
    top  : 335px;
}

#message {
  position: absolute;
  left : 20px;
  top  : 70px;
}
.emailregoinputfield {
    margin-left: 40px;
}

#emailloginlabel {
    position: absolute;
    left : 380px;
    top  : 215px;
}

#passwordloginlabel {
    position: absolute;
    left : 380px;
    top  : 275px;
}

#ageprofilelabel {
    position : absolute;
    left : 380px;
    top  : 185px;
}
#cityprofilelabel {
    position: absolute;
    left : 380px;
    top  : 235px;
}

#homepageprofilelabel {
    position: absolute;
    left : 380px;
    top  : 290px;
}
.smallwordinputfield {
    margin-left:50px;
}

#canvas {
    position: absolute;
    top: 165px;
    left: 310px;
    /* border: black solid 2px; */
    cursor: url('/images/pen.ico') 23 93, auto;

}

#signherelabel {
    position: absolute;
    top: 300px;
    left: 230px;
}

h1 {
    text-align: center;
}

.signedpage {
    text-align: center;
}

ul {
    list-style: none;
}
/* Set label font */
label {
  font : .8em "typewriter", sans-serif;
}
.signees {
    text-align: center;
}

#yoursignature {
    margin-left: 120px;
}




/* .profileeditcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;


}
.profileeditlabels {
    border: 2px solid black;
} */

.profileeditcontainer {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.profileeditlabels {
    /* border: 1px solid black; */
    padding-top: 10px;
}



.profileeditinputs {
    margin: 0;
    /* border: 1px solid black; */
}







/* Remove text field borders and redefine */
input, textarea {
  font    : 1.2em/1.5em "handwriting", sans-serif;
  font-weight: bold;

  border  : none;
  /* padding : 0 10px; */
  margin  : 0;
  width   : 240px;
  height: 40px;
  background: none;
}



input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  height: 40px;
  border-radius: 5px;
  outline      : none;
  /* position: absolute; */
}


textarea {
  display : block;

  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 340px;
  height  : 360px;

  resize  : none;
  overflow: auto;
}

/* Register button */
button {
  position     : absolute;
  left         : 600px;
  top          : 400px;

  padding      : 5px;

  font         : bold .6em sans-serif;
  border       : 2px solid #333;
  border-radius: 5px;
  background   : none;

  cursor       : pointer;

-webkit-transform: rotate(-1.5deg);
   -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
     -o-transform: rotate(-1.5deg);
        transform: rotate(-1.5deg);
}


/* button:after {
  content: " >>>";
} */

button:hover,
button:focus {
  outline   : none;
  background: #000;
  color   : #FFF;

}


#login {
    top: 20px;
    left: 75%;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}
#logintext{
    color: black;
    text-decoration: none;
}
#logintext:hover, #logintext:focus {
    color: #FFF;
}

#signout {
    top: 20px;
    left: 5%;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}
#signouttext{
    color: black;
    text-decoration: none;
}
#signouttext:hover, #signouttext:focus {
    color: #FFF;
}
#signsubmit {
    left         : 650px;
    top          : 450px;
}

/* .thankyoubutton {
    top: 50%;
    left: 50%;
    font: bold 1em sans-serif;
    color: black;
    text-decoration: none;

    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);

} */
#deletesignature {
    top: 70%;
}
/* #deletesignaturesigned {
    color: black;
    text-decoration: none;
}
#editprofilesigned {
    color: black;
    text-decoration: none;
} */


.thankyoubutton:hover,
.thankyoubutton:focus {
  outline   : none;
  background: none;
  color   : none;

}



#profileeditbutton {
    top: 100px;
    left: 5%;
    border: 2px solid #524f7a;

    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}
#gobackbutton {
    top: 60px;
    background-color: #524f7a;

    border: none;
    left: 5%;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}

#profileedittext {
    color: #524f7a;
    text-decoration: none;
}
#gobacktext {
    color: white;
    text-decoration: none;
}
#profileedittext:hover, #profileedittext:focus {
    color: #FFF;
}
#gobacktext:hover, #gobacktext:focus {
    color: #FFF;
}

#buttoncontainer {
border: 2px solid black;
}

.profileeditbutton {
    left         : 60%;
    top          : 31%;

    font: .8em "typewriter", sans-serif;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}

.profileeditbutton:hover,
.profileeditbutton:focus {
  outline   : none;
  background: none;
  color   : black;

}

#profileeditskip {
    left         : 70%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
#editprofilesubmitbutton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
